body{
	padding-top: 70px;
}
.jumbotron{
	color: white;
	background: #e50606;
}

img{
	max-height: 200px;
}

.navbar-inverse
{
	background: #e50606;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

body{
	background: black;
}
