div{
	background-color: #ccddff;
	padding: 15px;
	border-style: solid;
	width:500px; 
	margin:0 auto;
}

body{
	background-image: url("https://pbs.twimg.com/media/CcvNdsVW4AAi9KL.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
