div{
	background-color: #ccddff;
	padding: 15px;
	border-style: solid;
	width:500px; 
	margin:0 auto;
}

body{
	background-image: url("https://github.com/ezvl/ezvl.github.io/blob/master/background.jpeg?raw=true");
	background-repeat: no-repeat;
	background-size: cover;
}
